img {
    width: 160px;
    height: 160px;
}

.logo {
    width: 140px;
    height: 80px;
    margin-right: 15px;
}

.portada {
    width: 100%;
    height: 100%;
}

.icono {
    align-items: center;
    width: 2%;
    height: 2%;
    color: #004481;
}

.img-2 {
    width: auto;
    height: 390px;
    margin-left: 80px;
}